#!/usr/bin/env sh
# -*- coding: utf-8 -*-
# TODO: Load https://direnv.net/man/direnv.toml.1.html#codeloaddotenvcode
export CGO_ENABLED=0
export CHARM_SERVER_DATA_DIR="./charm_data"
export CHARM_HOST="localhost"
